#ignore python compile files
*.pyc

#ignore static files
static/vendor/*
static/data/backup/*
static/data/*.txt
static/data/test/*
static/js/table.js
static/js/map.js
static/css/backup.css

#ignore settings
rat/local_settings.py

#ignore templates
templates/map_sidebar.html
templates/draft_iframe.html

#ignore db
*.sqlite3

#node and related environment files
.npmignore
node_modules/
__pycache__/