.carousel-inner .carousel-item {
   height: auto;
}
.carousel-inner .carousel-item > img {  
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: calc(100vh - 15vh);
    background-repeat: no-repeat;   
    align-items: center;
    text-align: center;
    background-size: cover;
} 
   