#map {
    position: fixed;
    /* position: relative; */
    height: calc(100% - 110px); 
    width: 100%;
    margin-left: -60%;
}
#leftBtn{
    display: block;
    position: fixed;
    top: 50%;
    margin-left: 37.5%;
    z-index: 1;
}
#rightBtn{
    display: none;
    position: fixed;
    top: 50%;
    margin-left: 97.5%;
    z-index: 1;
}
.sidebar {
    /* position: fixed; */
    margin-left: 40%;
    transition: opacity 0.5s;
    z-index: 1000;
    /* height: 100%; */
}
.sidebar .nav-pills {
    border-bottom: 1px solid #c5c0c0;
}
.sidebar .nav-pills .nav-link{
    color: #000;
    border-radius: 0;
}
.sidebar .nav-pills .active {
    background: none;
    color: blue;
    border-bottom: 3px solid blue;
}
.leaflet-control-container { 
    position: absolute; 
    right: 40% 
} 
#pills-tabContent {
    max-height: 550px;
    overflow-y: scroll;
}
#pills-profile {
    max-height: 550px;
    overflow-y: scroll; 
}
#resTable{
    cursor: pointer;
}
.fa-arrow-down{
    color: rgb(155, 106, 7);
}
.fa-arrow-up{
    color: darkgreen;
}
.fa-square {
    color: rgb(28, 28, 240);
}