{% extends "base.html" %} 
{% load static %}

<!-- CSS files -->
{% block extra_css %} {% endblock %} 
{% block container %}
{% include 'navigation.html' %}
<div class="hero">
  <!-- <img src="{% static 'images/hero-img.jpg' %}" alt="..." /> -->
  <div class="hero-title">
    <h1 class="fw-bold text-center mb-0">About RAT-Mekong</h1>
    <p class="fw-bold text-center mt-0">________</p>
  </div>
</div>
<!-- Main Container -->
<div class="container pb-5">
  <p class="fs-5 p-4 mt-5" style="background-color: rgba(199, 236, 249, 0.5); border-left: 5px solid darkblue; color: navy;">
    The Reservoir Assessment Tool for the Lower Mekong Basin (RAT-Mekong) was developed under the SERVIR-SEA program. 
  </p>
  <h3 class="h-5 fw-bold mt-5">Background of RAT-Mekong</h3>
  <p class="fs-5 pt-3">
    <span class="fw-bold ps-5"><a href="https://servir.adpc.net/" target="_blank" rel="noopener noreferrer">SERVIR-SEA</a></span> works in partnership with leading regional organizations such as the Mekong River Commission (MRC) to help the five countries in the Lower Mekong Region use the information provided by Earth-observing satellites and geospatial technologies to manage climate risks. The region includes Cambodia, Lao PDR, Myanmar (Burma), Thailand, and Vietnam. The Asian Disaster Preparedness Center (ADPC), a recognized leader in strengthening disaster resilience in Asia, is the prime implementer for SERVIR-SEA. Three other consortium partners, Spatial Informatics Group (SIG), Stockholm Environment Institute (SEI), and Deltares, assist in implementing the SERVIR-SEA program and bring exceptional capabilities to help deliver services to the region.
  </p>
  <p class="fs-5 pt-2"><span class="ps-5">RAT-Mekong</span> supports the MRC in developing indicator monitoring of the MRC's Drought Management Strategy (DMS) 2020-2025, referred to as the reservoir monitoring indicator, as well as MRC's Flood Management and Mitigation (FMM) Strategy 2021-2030. The tool has been identified in the MRC multi-year work plan for 2021-2022. Moreover, the reservoir information such as estimated inflows, outflows, and storage changes from the RAT-Mekong have the potential to support and facilitate the implementation of MRC Procedures, including the Procedure of Data Information Exchange and Sharing (PDIES), Procedure for Water Use Monitoring (PWUP) and Procedure for the Maintenance of Flow on the Mainstream (PMFM) of the Mekong River.</p>
  <p class="fs-5 pt-2"><span class="ps-5">The information</span> produced by RAT-Mekong is intended for supporting reservoir monitoring by the MRC and its member countries for flood and drought management in the Lower Mekong Basin (LMB). RAT-Mekong is a Near Real-Time reservoir monitoring tool using satellite observations and a hydrologic model (Biswas et al., 2021). The tool will fill the data gap in reservoir monitoring at the basin scale due to limited in-situ data and restriction of data-sharing policy. At present, reservoir information in the Upper and Lower Mekong Basins is important for drought and flood management downstream.</p>
  <p class="fs-5 pt-2"><span class="ps-5">The concept</span> note on RAT-Mekong was presented at the 7th Regional Expert Group Meeting on Data Modeling and Forecasting (EGDFM) on March 3, 2022. The member countries acknowledged and approved the RAT-Mekong for monitoring near real-time (bi-weekly) reservoir behavior, and reservoir operating rules based on long-term records. These outputs, which are made available to the public, can be helpful in data-scarce or data restricted in the basin.</p>
  <h4 class="h-5 fw-bold mt-5">Objectives of the RAT-Mekong</h4>
  <p class="fs-5 pt-3">The overall objective of the RAT-Mekong is to provide near-real-time reservoir monitoring information to assist the MRC and the Member Countries in the decision and planning process for drought and flood management in the Lower Mekong Basin. The following are specific objectives of this tool development.</p>
  <ul class="fs-5 pt-3 ms-3 ps-5 fa-ul">
    <li class="pb-1"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span> Regularly estimate changes in reservoir storage, surface area, inflow, outflows, and inferred reservoir rule curve (Bonnema et al., 2016; 2017).</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span> To develop a user-friendly web-interface system to share reservoir monitoring information and integrate it into the MRC data portal for MRC and relevant users in the Member Countries.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span> To support MRC in developing reservoir monitoring indicators for decision making and planning in drought and flood management.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-angle-double-right"></i></span> To build the capacity of the MRCS and Member Countries to enhance reservoir assessment capability using satellite observations and the hydrologic model.</li>
  </ul>
  <h3 class="h-5 fw-bold mt-5">Benefits of RAT-Mekong</h3>
  <ul class="fs-5 pt-3 ms-3 ps-5 fa-ul">
    <li class="pb-1"><span class="fa-li"><i class="fas fa-check-circle"></i></span> Near-real-time (bi-weekly) reservoir behavior and reservoir operating rules based on long-term records are made available to the public, which can be useful in data-scarce or data-restricted regions like some parts of the Mekong Basin.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-check-circle"></i></span> It will help MRC and MCs derive a global picture of reservoir monitoring, how they are being operated, and how they impact natural river flow and its variability as a function of climate, hydrologic regime, and socio-economic indicators.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-check-circle"></i></span> With further improvements in hydrological modeling using locally available ground observations, this framework can be used in local, regional, and global scale operational water resources management with its near-real-time (bi-weekly) data availability with higher accuracy.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-check-circle"></i></span> This framework also facilitates the feasibility study of proposed/planned dams. It can be used to estimate the future reservoir capacity and the inflow availability at any location, which is useful in optimizing reservoir benefits.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-check-circle"></i></span> This tool provides future possibilities to study the impact of harnessing hydropower on river temperature, greenhouse gas emissions, aquatic habitats, land use, land cover change, and agriculture practices.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-check-circle"></i></span> This tool can be used to minimize the conflict between riparian countries, including China, as it can be considered an unbiased tool for all the parties and provide data needed to drive a fair and transparent water-sharing agreement.</li>
    <li class="pb-1"><span class="fa-li"><i class="fas fa-check-circle"></i></span> The information obtained from the RAT could also support the implementation of MRC's Procedures (PDIES, PMFM, PWUM, PNPCA) and monitoring/forecasting activities of the MRC's Regional Flood and Drought Management Centre (RFDMC).</li>
  </ul>
  <h3 class="h-5 fw-bold mt-5">About Mekong River Commission (MRC)</h3>
  <p class="fs-5">The MRC is an intergovernmental organization for regional dialogue and cooperation in the Lower Mekong River Basin, established in 1995 based on the Mekong Agreement between Cambodia, Lao PDR, Thailand, and Viet Nam. The organization serves as a regional platform for water diplomacy and a knowledge hub of water resources management for the region's sustainable development. The MRC is the primary user of RAT-Mekong and has been supporting and taking part in the development of RAT-Mekong from the beginning.</p>
</div>

<div class="container">{% include 'partners.html' %}</div>
{% include 'footer.html' %} 
{% endblock container %}
