{% extends "base.html" %}
{% load static %}

<!-- CSS files -->
{% block extra_css %} {% endblock %}
{% block container %}
{% include 'navigation.html' %}


<!-- Main Container -->
<div class="container mt-5">
  <h1 class="fw-bold text-center pt-5 pb-5">About Mekong River Commission (MRC)</h1>
  <p class="fs-4 pt-5 pb-5">
    The MRC is an intergovernmental organisation for regional dialogue and cooperation in the Lower Mekong River Basin,
    established in 1995 based on the Mekong Agreement between Cambodia, Lao PDR, Thailand and Viet Nam. The organisation
    serves as a regional platform for water diplomacy and a knowledge hub of water resources management for the
    sustainable development of the region.
  </p>
  <h3 class="h3 fw-bold pt-3 pb-3">Background of the RAT-Mekong</h3>
  <p class="fs-4 pt-1">
    <span><a href="https://servir.adpc.net/">SERVIR-Mekong</a></span> works in partnership with leading regional
    organizations to help the five countries in the Lower Mekong Region use information provided by Earth observing
    satellites and geospatial technologies to manage climate risks. The region includes Cambodia, Lao PDR, Myanmar
    (Burma), Thailand and Vietnam. The Asian Disaster Preparedness Center (ADPC), a recognized leader in strengthening
    disaster resilience in Asia, is the prime implementer for SERVIR-Mekong. Three other consortium partners, Spatial
    Informatics Group (SIG), Stockholm Environment Institute (SEI) and Deltares, assist in implementing the
    SERVIR-Mekong program and bring exceptional capabilities to help deliver services to the region.
  </p>
  <p class="fs-4 pt-3">
    The RAT-Mekong will support the MRC in development of indicator monitoring of the MRC’s Drought Management Strategy
    (DMS) 2020-2025 which is referred to reservoir monitoring indicator as well as MRC’s Flood Management and Mitigation
    (FMM) Strategy 2021-2030. The tool has been identified in the MRC Multiyear work plan 2021-20222 under Develop
    reservoir assessment tools with ADPC and other partners. Moreover, the reservoir information such as estimated
    inflows, outflows and storage changes from the RAT-Mekong have potential to support and facilitate implementation of
    the MRC Procedures including for Procedure of Data Information Exchange and Sharing (PDIES), Procedure for Water Use
    Monitoring (PWUP) and Procedure for the Maintenance of Flow on the Mainstream (PMFM) of the Mekong River.
  </p>
  <p class="fs-4 pt-3">
    Reservoir Assessment Tool for Lower Mekong Basin (RAT-Mekong) under the SERVIR-Mekong program is developing to
    support information on reservoir monitoring to the MRC and its member countries in decision making and planning
    processes for flood and drought management in the Lower Mekong Basin (LMB). The RAT-Mekong is Near Real-Time
    reservoir monitoring tool using satellite observations and hydrologic model (Biswas et al 2021). The tool will fill
    the data gap in reservoir monitoring at the basin scale due to limited in-situ data and restriction of data-sharing
    policy. At present, reservoir information in the Upper and Lower Mekong Basins is important for drought and flood
    management downstream.
  </p>
  <p class="fs-4 pt-3">
    The concept note of the RAT-Mekong is presented to the 7th Regional Expert Group Meeting on Data Modelling and
    Forecasting (EGDFM) on 3rd March 2021. The member countries acknowledged and approved the RAT-Mekong after the
    Expert Group Meeting to develop a tool to monitor Near Real-time (bi-weekly) reservoir behavior and reservoir
    operating rules based on long term records are made available to the public, which can be helpful in data-scarce, or
    data restricted in the basin.
  </p>
  <h3 class="h3 fw-bold pt-3 pb-3">Objectives of the RAT-Mekong</h3>
  <p class="fs-4 pt-3">
    The overall objective of the RAT-Mekong is to provide near-real-time reservoir monitoring information to assist the
    MRCS and Member Countries in decision and planning process for drought and flood management in the Lower Mekong
    Basin. Followings are specific objectives of this tool development.
  </p>
  <p>
  <ul class="fs-4 pt-3 ms-3 ps-5 fa-ul">
    <li>
      <span class="fa-li"><i class="fas fa-check-circle"></i></span> To regularly estimate changes in reservoir storage, surface area, inflow, outflows, and inferred reservoir rule
      curve (Bonnema et al. 2016; 2017).
    </li>
    <li>
      <span class="fa-li"><i class="fas fa-check-circle"></i></span> To develop a user-friendly web-interface system to share reservoir monitoring information and integrate into MRC
      data portal for MRC and relevant users in the Member Countries.
    </li>
    <li>
      <span class="fa-li"><i class="fas fa-check-circle"></i></span> To support MRC to develop reservoir monitoring indicators for decision making and planning in drought and flood
      management.
    </li>
    <li>
      <span class="fa-li"><i class="fas fa-check-circle"></i></span> To build capacity of the MRCS and Member Countries to enhance reservoir assessment capability using satellite
      observations and the hydrologic model.
    </li>
  </ul>
  </p>
  <h3 class="h3 fw-bold pt-3 pb-3">Benefits of the RAT-Mekong</h3>
  <ul class="fs-4 pt-3 ms-3 ps-5 fa-ul">
    <li>
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span> The MRC and MCs will receive great benefits for managing natural
      resources
    </li>
    <li class="pb-2">
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span>  Near Real-time (bi-weekly) reservoir behavior and reservoir operating rules based on long term records are made available to the public, which can be helpful in data-scarce or data restricted regions like some parts of the Mekong Basin
    </li>
    <li class="pb-2">
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span>  It will help MRC and MCs derive a global picture of reservoir monitoring, how they are being operated, and how they are impacting natural river flow and its variability as a function of climate, hydrologic regime, and socio-economic indicators
    </li>
    <li class="pb-2">
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span>  With further improvements in hydrological modeling using locally available ground observations, this framework can be used in local, regional, and global scale operational water resources management with its near-real-time (bi-weekly) data availability with higher accuracy
    </li>
    <li class="pb-2">
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span>  This framework also facilitates the feasibility study of proposed/planned dams. It can be used to estimate the future reservoir capacity and the inflow availability at any location, which is useful in optimizing reservoir benefits
    </li>
    <li class="pb-2">
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span>  This tool provides future possibilities to study the impact of harnessing hydropower on river temperature, greenhouse gas emissions, aquatic habitats, land-use and landcover change, and agriculture practices
    </li>
    <li class="pb-2">
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span>  This tool can be used to minimize the conflict between riparian countries including China as it can be considered an unbiased tool to all the parties and provide data needed to drive a fair and transparent water-sharing agreement
    </li>
    <li class="pb-2">
      <span class="fa-li"><i class="fas fa-angle-double-right"></i></span>  The information obtained from the RAT could also support the implementation of MRC’s Procedures (PDIES, PMFM, PWUM, PNPCA) and monitoring/forecasting activities of the MRC’s Regional Flood and Drought Management Centre (RFDMC)
    </li>
  </ul>
</div>

<div class="container">{% include 'partners.html' %}</div>
{% include 'footer.html' %}
{% endblock container %}