{% load static %}
 <!-- Footer -->
 <footer class="footer">
	<div class="container">
		<div class="row mt-5 pt-5 pb-5 fcontent">
			<div class="col-md-6">
				<img class="img-fluid pb-3" src="{% static 'images/servir-sea-white.png' %}" alt="SERVIR-SEA">
				<br>
				<h1>
					<b>ASIAN DISASTER PREPAREDNESS CENTER (ADPC)</b>
				</h1>
				<p class="fs-6">
					SM Tower, 24th Floor, 979/69 Paholyothin Road, Samsen Nai Phayathai,
					<br>
					Bangkok 10400 Thailand
					<br>
					BTS Skytrain: Sanam Pao, Exit 1
					<br>
					<b>Phone:</b> +66 2 298 0681-92
					<br>
					<b>Fax:</b> +66 2 298 0012
				</p>
				<br>
				<a type="button" class="btn btn-primary mb-5 fs-6" href="https://servir.adpc.net/services/technical-assistance">
					Request Technical Assistance
				</a>
			</div>
			<div class="col-md-3">
				<h4 class="fs-5"><b>Menu Links</b></h4>
				<ul class="footer-menu fs-6">
					<li class="footer-menu-item">
						<a href="/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a>
					</li>
					<li class="footer-menu-item">
						<a href="/map/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> Map Viewer</a>
					</li>
					<li class="footer-menu-item">
						<a href="/about/" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> About</a>
					</li>
					<li class="footer-menu-item">
						<a href="www.satellitedams.net" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> User Guide</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<h4 class="fs-5"><b>Explore SERVIR-SEA</b></h4>
				<ul class="footer-menu fs-6">
					<li class="footer-menu-item">
						<a href="https://servir.adpc.net/about/about-servir-sea" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> About</a>
					</li>
					<li class="footer-menu-item">
						<a href="https://servir.adpc.net/tools" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> Tools</a>
					</li>
					<li class="footer-menu-item">
						<a href="https://servir.adpc.net/geospatial-datasets" target="_blank"> <i class="fa fa-angle-right" aria-hidden="true"></i> Geospatial Datasets</a>
					</li>
					<li class="footer-menu-item">
						<a href="https://servir.adpc.net/publications" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> Resources and Publications</a>
					</li>
					<li class="footer-menu-item">
						<a href="https://servir.adpc.net/news" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> News</a>
					</li>
					<li class="footer-menu-item">
						<a href="https://servir.adpc.net/events" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> Events</a>
					</li>
					<li class="footer-menu-item">
						<a href="https://servir.adpc.net/about/contact-servir-sea" target="_blank"><i class="fa fa-angle-right" aria-hidden="true"></i> Contact Us</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6"></div>
			<div class="col-md-6">
				<p class="text-end text-muted">The information provided on this website is not official U.S. Government information and does not represent the views or positions of the U.S. Agency for International Development or the U.S. Government.</p>
			</div>
		</div>
	</div>
	<div class="container-fluid copyright">
		<div class="row">
			<div class="col-md-12">
				<p class="copyright-content">
					© 2021-22 SERVIR-SEA | Asian Disaster Preparedness Center (ADPC). All Rights Reserved.
				</p>
			</div>
		</div>
	</div>
</footer>