{% extends "base.html" %}
{% load static %}
{% load compress %}
<!-- CSS files -->
{% block extra_css %}
<!-- Leaflet CSS-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'vendor/leaflet-search/leaflet-search.min.css' %}">
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block container %}

{% include 'navigation.html' %}

<div class="topbar" id="topbar">
    <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-map-tab" data-bs-toggle="pill" data-bs-target="#pills-map"
                type="button" role="tab" aria-controls="pills-map" aria-selected="true"><i class="fas fa-map"
                    aria-hidden="true"></i> Map</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-table-tab" data-bs-toggle="pill" data-bs-target="#pills-table"
                type="button" role="tab" aria-controls="pills-table" aria-selected="false"><i class="fas fa-table"
                    aria-hidden="true"></i> Table</button>
        </li>
    </ul>
</div>

<div class="tab-content" id="pills-tabContent">
    <!-- Map Tab -->
    <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <nav>
                <div class="nav nav-tabs flex-column" id="nav-tab" role="tablist">
                    <!-- <button class="nav-link active pt-3 pb-3" id="home" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Menu"><i class="fas fa-bars fa-lg"></i></button> -->
                    <button class="nav-link active pt-3 pb-3" id="filter" data-bs-toggle="tab" data-bs-target="#nav-filter" type="button" role="tab" aria-controls="nav-filter" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter Panel"><i class="fas fa-filter fa-lg"></i></button>
                    <button class="nav-link pt-3 pb-3" id="layer" data-bs-toggle="tab" data-bs-target="#nav-layer" type="button" role="tab" aria-controls="nav-layer" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Layer Panel"><i class="fas fa-layer-group fa-lg"></i></button>
                    <button class="nav-link pt-3 pb-3" id="basemap" data-bs-toggle="tab" data-bs-target="#nav-basemap" type="button" role="tab" aria-controls="nav-basemap" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="right" title="Basemap Style"><i class="fa fa-globe fa-lg"></i></button>
                </div>
            </nav>
        </div>
  
        <!-- Sidebar Content -->
        <div class="sidebar-content" id="sidebar-content">
            <div class="tab-content mt-0 pt-0" id="nav-tabContent">    
                <!-- Default tab content area -->
                <!-- <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="home">  
                    <button type="button" class="btn btn-home-close shadow-none" id="close-home-content" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Close Menu"><i class="fas fa-arrow-left fa-lg"></i></button>        
                </div> -->
                <!-- Filter tab content area -->
                <div class="tab-pane fade show active" id="nav-filter" role="tabpanel" aria-labelledby="nav-filter-tab">
                    <div class="filter-header"><button type="button" class="btn btn-filter-close shadow-none" id="close-filter-content" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Close Filter Menu"><i class="fas fa-arrow-left fa-lg"></i></button><span class="fw-bold fs-5">Filter Panel</span></div>     
                    <div class="card filter-card m-2 border-0">
                        <div class="card-body border-0">
                            <h6 class="fw-bold">Filter by Country <span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter reservoir by countries"><i class="fas fa-question-circle" aria-hidden="true"></i></button></span></h6>
                            <form>
                                <div class="multiselect">
                                    <div class="selectBox" id="filter-country">
                                        <select>
                                            <option>-- Show All --</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div class="checkboxes" id="countryCheckboxes">
                                        <label for="all">
                                            <input type="checkbox" class="country" id="all" name="all"
                                                onclick="toggle(this);" checked /> Select All</label>
                                        <label for="cambodia">
                                            <input type="checkbox" class="country" id="cambodia" name="cambodia"
                                                checked /> Cambodia</label>
                                        <label for="laos">
                                            <input type="checkbox" class="country" id="laos" name="laos" checked /> Lao
                                            PDR</label>
                                        <label for="thailand">
                                            <input type="checkbox" class="country" id="thailand" name="thailand"
                                                checked /> Thailand</label>
                                        <label for="vietnam">
                                            <input type="checkbox" class="country" id="vietnam" name="vietnam"
                                                checked /> Vietnam</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Filter by River Basin -->
                    <div class="card filter-card m-2 border-0">
                        <div class="card-body border-0">
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button"
                                        class="btn btn-secondary btn-sm" data-bs-toggle="tooltip"
                                        data-bs-placement="right" title="Filter reservoir by river basin"><i
                                            class="fas fa-question-circle" aria-hidden="true"></i></button></span></h6>
                            <form>
                                <div class="multiselect">
                                    <div class="selectBox" id="filter-river-basin">
                                        <select>
                                            <option>-- Show All --</option>
                                        </select>
                                        <div class="overSelect"></div>
                                    </div>
                                    <div class="checkboxes" id="riverBasinCheckboxes">
                                        <label for="allRivers">
                                            <input type="checkbox" id="allRivers" name="allRivers"
                                                onclick="toggle(this);" /> Select All</label>
                                        <label for="chi">
                                            <input type="checkbox" id="chi" name="chi" /> Chi</label>
                                        <label for="lamDomNoi">
                                            <input type="checkbox" id="lamDomNoi" name="lamDomNoi" /> Lam Dom
                                            Noi</label>
                                        <label for="namGnong">
                                            <input type="checkbox" id="namGnong" name="namGnong" /> Nam Gnong</label>
                                        <label for="namNgum">
                                            <input type="checkbox" id="namNgum" name="namNgum" /> Nam Ngum</label>
                                        <label for="namPong">
                                            <input type="checkbox" id="namPong" name="namPong" /> Nam Pong</label>
                                        <label for="namTheun">
                                            <input type="checkbox" id="namTheun" name="namTheun" /> Nam Theun</label>
                                        <label for="sesan">
                                            <input type="checkbox" id="sesan" name="sesan" /> Sesan</label>
                                        <label for="seSan">
                                            <input type="checkbox" id="seSan" name="seSan" /> Se San</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Filter by Reservoir Shape -->
                    <!-- Filter by Storage Change -->
                </div>
        
                <!--Layer tab content area -->
                <div class="tab-pane fade" id="nav-layer" role="tabpanel" aria-labelledby="nav-layer-tab">          
                    <div class="layer-header"><button type="button" class="btn btn-layer-close shadow-none" id="close-layer-content" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Close Layer Panel"><i class="fas fa-arrow-left fa-lg"></i></button><span class="fw-bold fs-5">Layer Panel</span></div>
                    <div class="card card-body layer-card m-2 border-0">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="mekong_toggle" id="mekong_toggle">
                            <label class="form-check-label" for="mekong_toggle">Mekong Region</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="adm0_toggle" id="adm0_toggle">
                            <label class="form-check-label" for="adm0_toggle">Country Boundary</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="gms_rivers_toggle"
                                id="gms_rivers_toggle">
                            <label class="form-check-label" for="gms_rivers_toggle">GMS Rivers</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="main_rivers_toggle"
                                id="main_rivers_toggle">
                            <label class="form-check-label" for="main_rivers_toggle">Main Rivers</label>
                        </div>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="sub_basin_toggle"
                                id="sub_basin_toggle">
                            <label class="form-check-label" for="sub_basin_toggle">River Sub-basin</label>
                        </div>
                    </div>
                </div>
        
                <!-- Basemap tab content area -->
                <div class="tab-pane fade nav-basemap" id="nav-basemap" role="tabpanel" aria-labelledby="nav-basemap-tab">
                    <div class="layer-header"><button type="button" class="btn btn-layer-close shadow-none" id="close-basemap-content" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Close Basemap"><i class="fas fa-arrow-left fa-lg"></i></button><span class="fw-bold fs-5">Basemap Style</span></div>
                    <!-- Basemap from MapBox -->
                    <!-- <div class="card basemap-card active m-4" data-layer="streets-v11">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/mapbox-streets.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Streets Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Streets Map<br><small>MapBox World Streets Map</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="satellite-v9">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/mapbox-satellite.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Satellite Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Satellite Map<br><small>MapBox World Satellite Map</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="light-v10">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/mapbox-light.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Light Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Light Map<br><small>MapBox World Light Map</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="dark-v10">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/mapbox-dark.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Dark Streets Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>MapBox Dark Map<br><small>MapBox World Dark Streets Map</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="outdoors-v11">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/mapbox-outdoor.png' %}" class="basemap-img" height="60px" width="60px" alt="MapBox World Outdoors Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Outdoors Map<br><small>MapBox World Outdoors Map</small></h6>    
                            </div>
                        </div>
                    </div>  -->
        
                    <!-- OSM Basemap -->
                    <div class="card basemap-card active m-4" data-layer="osm">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/osm.png' %}" class="basemap-img" height="60px" width="60px" alt="OSM World Streets Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>OpenStreetMap<br><small>OSM World Streets Map</small></h6>    
                            </div>
                        </div>
                    </div> 
                    <!-- Basemap from Esri -->
                    <div class="card basemap-card m-4" data-layer="street">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/esri-street.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Streets Basemap"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Esri Streets<br><small>Esri World Streets Basemap</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="satellite">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/esri-satellite.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Satellite Imagery"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Satellite Map<br><small>Esri World Satellite Imagery</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="topo">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/esri-topo.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Topographic Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Topographic Map<br><small>Esri World Topographic Map</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="terrain">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/esri-terrain.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Terrain Basemap"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Terrain Map<br><small>Esri World Terrain Basemap</small></h6>    
                            </div>
                        </div>
                    </div>
                    <div class="card basemap-card m-4" data-layer="gray">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/esri-gray.png' %}" class="basemap-img" height="60px" width="60px" alt="Esri World Gray Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Gray Map<br><small>Esri World Gray Map</small></h6>    
                            </div>
                        </div>
                    </div> 
                    <!-- Basemap from Carto Map -->
                    <div class="card basemap-card m-4" data-layer="dark">
                        <div class="d-flex flex-row bd-highlight">
                            <div class="bd-highlight"><img src="{% static 'images/carto-dark.png' %}" class="basemap-img" height="60px" width="60px" alt="Carto World Dark Map"></div>
                            <div class="bd-highlight pt-3 ps-4">
                                <h6>Dark Map<br><small>Carto World Dark Map</small></h6>    
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>  
        <div id="map"></div>
    </div>
    <!-- Table Tab -->
    <div class="tab-pane fade" id="pills-table" role="tabpanel" aria-labelledby="pills-table-tab">
        <div class="container mt-5 mb-5">  
            <!-- Filter by Reservoir Shape -->
            <!-- <div class="card ms-3 me-3 border-0">
                    <div class="card-body border-0">
                        <h6 class="fw-bold">Filter by Reservoir Shape</h6>
                        <p class="fw-bold mt-2">
                            <select class="form-select js-example-basic-multiple" name="states[]" data-placeholder="-- Show All --" multiple="multiple">
                                <option value="all" selected>Select All</option>
                                <option value="cambodia">Cambodia</option>
                                <option value="WY">Lao PDR</option>
                                <option value="WY">Thailand</option>
                                <option value="WY">Vietnam</option>
                            </select>  
                            <span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                        </p>    
                    </div>
                </div> -->
            <!-- Filter by Filter by Storage Change -->
            <!-- <div class="card ms-3 me-3 border-0">
                    <div class="card-body border-0">
                        <h6 class="fw-bold">Filter by Storage Change</h6>
                        <p class="fw-bold mt-2">
                            <select class="form-select js-example-basic-multiple" name="states[]" data-placeholder="-- Show All --" multiple="multiple">
                                <option value="all" selected>Select All</option>
                                <option value="cambodia">Cambodia</option>
                                <option value="WY">Lao PDR</option>
                                <option value="WY">Thailand</option>
                                <option value="WY">Vietnam</option>
                            </select>  
                            <span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Select your preferred country from the dropdown list. By default, we selects all countries."><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                        </p>    
                    </div>
                </div> 
            </div>-->

            <ul class="nav nav-pills mb-5" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-aec-tab" data-bs-toggle="pill" data-bs-target="#pills-aec"
                        type="button" role="tab" aria-controls="pills-aec" aria-selected="true">AEC</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-deltas-tab" data-bs-toggle="pill" data-bs-target="#pills-deltas"
                        type="button" role="tab" aria-controls="pills-deltas" aria-selected="false">Storage
                        Change</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-inflow-tab" data-bs-toggle="pill" data-bs-target="#pills-inflow"
                        type="button" role="tab" aria-controls="pills-inflow" aria-selected="false">Inflow</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-outflow-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-outflow" type="button" role="tab" aria-controls="pills-outflow"
                        aria-selected="false">Outflow</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-sarea-tab" data-bs-toggle="pill" data-bs-target="#pills-sarea"
                        type="button" role="tab" aria-controls="pills-sarea" aria-selected="false">Surface Area</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-rcurve-tab" data-bs-toggle="pill" data-bs-target="#pills-rcurve"
                        type="button" role="tab" aria-controls="pills-rcurve" aria-selected="false">Rule Curve</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-aec" role="tabpanel" aria-labelledby="pills-aec-tab">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <!-- Filter by Country -->
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by country"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="aec_country" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Laos">Lao PDR</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by river basin"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="aec_river_basin" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Chi">Chi</option>
                                <option value="Lam Dom Noi">Lam Dom Noi</option>
                                <option value="Nam Gnong">Nam Gnong</option>
                                <option value="Nam Ngum">Nam Ngum</option>
                                <option value="Nam Pong">Nam Pong</option>
                                <option value="Nam Theun">Nam Theun</option>
                                <option value="Sesan">Sesan</option>
                                <option value="Se San">Se San</option>
                            </select>
                        </div>
                    </div>                   
                    <table id="aec" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Country</th>
                                <th>Reservoir/Dam Name</th>
                                <th>River Basin</th>
                                <th>Elevation</th>
                                <th>Cumulative Area</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-deltas" role="tabpanel" aria-labelledby="pills-deltas-tab">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <!-- Filter by Country -->
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by country"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="deltas_country" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Laos">Lao PDR</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by river basin"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="deltas_river_basin" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Chi">Chi</option>
                                <option value="Lam Dom Noi">Lam Dom Noi</option>
                                <option value="Nam Gnong">Nam Gnong</option>
                                <option value="Nam Ngum">Nam Ngum</option>
                                <option value="Nam Pong">Nam Pong</option>
                                <option value="Nam Theun">Nam Theun</option>
                                <option value="Sesan">Sesan</option>
                                <option value="Se San">Se San</option>
                            </select>
                        </div>
                    </div>  
                    <table id="deltas" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Country</th>
                                <th>Reservoir/Dam Name</th>
                                <th>River Basin</th>
                                <th>Date</th>
                                <th>Storage Change</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-inflow" role="tabpanel" aria-labelledby="pills-inflow-tab">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <!-- Filter by Country -->
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by country"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="inflow_country" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Laos">Lao PDR</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by river basin"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="inflow_river_basin" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Chi">Chi</option>
                                <option value="Lam Dom Noi">Lam Dom Noi</option>
                                <option value="Nam Gnong">Nam Gnong</option>
                                <option value="Nam Ngum">Nam Ngum</option>
                                <option value="Nam Pong">Nam Pong</option>
                                <option value="Nam Theun">Nam Theun</option>
                                <option value="Sesan">Sesan</option>
                                <option value="Se San">Se San</option>
                            </select>
                        </div>
                    </div>  
                    <table id="inflow" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Country</th>
                                <th>Reservoir/Dam Name</th>
                                <th>River Basin</th>
                                <th>Date</th>
                                <th>Inflow (Cumecs)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-outflow" role="tabpanel" aria-labelledby="pills-outflow-tab">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <!-- Filter by Country -->
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by country"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="outflow_country" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Laos">Lao PDR</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by river basin"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="outflow_river_basin" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Chi">Chi</option>
                                <option value="Lam Dom Noi">Lam Dom Noi</option>
                                <option value="Nam Gnong">Nam Gnong</option>
                                <option value="Nam Ngum">Nam Ngum</option>
                                <option value="Nam Pong">Nam Pong</option>
                                <option value="Nam Theun">Nam Theun</option>
                                <option value="Sesan">Sesan</option>
                                <option value="Se San">Se San</option>
                            </select>
                        </div>
                    </div>  
                    <table id="outflow" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Country</th>
                                <th>Reservoir/Dam Name</th>
                                <th>River Basin</th>
                                <th>Date</th>
                                <th>Outflow (Cumecs)</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-sarea" role="tabpanel" aria-labelledby="pills-sarea-tab">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <!-- Filter by Country -->
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by country"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="sarea_country" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Laos">Lao PDR</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by river basin"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="sarea_river_basin" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Chi">Chi</option>
                                <option value="Lam Dom Noi">Lam Dom Noi</option>
                                <option value="Nam Gnong">Nam Gnong</option>
                                <option value="Nam Ngum">Nam Ngum</option>
                                <option value="Nam Pong">Nam Pong</option>
                                <option value="Nam Theun">Nam Theun</option>
                                <option value="Sesan">Sesan</option>
                                <option value="Se San">Se San</option>
                            </select>
                        </div>
                    </div>  
                    <table id="surface_area" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Country</th>
                                <th>Reservoir/Dam Name</th>
                                <th>River Basin</th>
                                <th>Date</th>
                                <th>Water Surface Area (Sq.Km)</th>                                
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-rcurve" role="tabpanel" aria-labelledby="pills-rcurve-tab">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <!-- Filter by Country -->
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by country"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="rcurve_country" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Laos">Lao PDR</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Vietnam">Vietnam</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <h6 class="fw-bold">Filter by River Basin<span class="ps-2"><button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="tooltip" data-bs-placement="right" title="Filter data by river basin"><i class="fas fa-info-circle" aria-hidden="true"></i></button></span></h6>
                            <select id="rcurve_river_basin" class="form-select" aria-label="Default select country">
                                <option value="" selected>-- Show All --</option>
                                <option value="Chi">Chi</option>
                                <option value="Lam Dom Noi">Lam Dom Noi</option>
                                <option value="Nam Gnong">Nam Gnong</option>
                                <option value="Nam Ngum">Nam Ngum</option>
                                <option value="Nam Pong">Nam Pong</option>
                                <option value="Nam Theun">Nam Theun</option>
                                <option value="Sesan">Sesan</option>
                                <option value="Se San">Se San</option>
                            </select>
                        </div>
                    </div>  
                    <table id="rcurve" class="table table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th>ID</th> -->
                                <th>Country</th>
                                <th>Reservoir/Dam Name</th>
                                <th>River Basin</th>
                                <th>January</th>
                                <th>February</th>
                                <th>March</th>
                                <th>April</th>
                                <th>May</th>
                                <th>June</th>
                                <th>July</th>
                                <th>August</th>
                                <th>September</th>
                                <th>October</th>
                                <th>November</th>
                                <th>December</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock container%}

<!-- Extra JS files -->
{% block extra_script %}

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="{% static 'vendor/leaflet-search/leaflet-search.min.js' %}"></script>
<!-- Custom JS -->
<script src="{% static 'js/index.js' %}"></script>
<!-- {% compress js %}
<script src="{% static 'js/index.js' %}"></script>
{% endcompress %} -->

{% endblock %}