{% load static %}
<div class="container mb-0 pb-0">
    <!-- Navigation Partners Logo -->
    <div class="row">
        <!-- Mobile view -->
        <div class="d-block d-sm-none">
            <div class="row">
                <ul class="d-flex justify-content-between list-group list-group-horizontal">
                    <li class="list-group-item">
                        <img class="img-fluid" src="{% static 'images/usaid.png' %}" alt="USAID">
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid nasa" src="{% static 'images/nasa-logo.svg' %}" alt="NASA">
                    </li>
                </ul>
            </div>
            <div class="row">
                <ul class="d-flex justify-content-between list-group list-group-horizontal">
                    <li class="list-group-item">
                        <img class="adpc" src="{% static 'images/adpc.png' %}" alt="ADPC">
                    </li>
                    <li class="list-group-item">
                        <img class="img-fluid" src="{% static 'images/servir-mekong.png' %}" alt="SERVIR-MEKONG">
                    </li>
                </ul>
            </div>
        </div>
        <!-- Desktop/Laptop view -->
        <div class="d-none d-sm-block">
            <div class="row">
                <div class="col-8 d-flex justify-content-start">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <img class="img-fluid text-center usaid" src="{% static 'images/usaid.png' %}" alt="USAID">
                        </li>
                        <li class="list-group-item">
                            <img class="img-fluid nasa" src="{% static 'images/nasa-logo.svg' %}" alt="NASA">
                        </li>
                        <li class="list-group-item">
                            <img class="img-fluid adpc pt-1" src="{% static 'images/adpc.png' %}" alt="ADPC">
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="d-flex justify-content-end list-group list-group-horizontal">
                        <li class="list-group-item">
                            <img class="img-fluid servir-mekong pt-1" src="{% static 'images/servir-mekong.png' %}" alt="SERVIR-MEKONG">
                        </li>
                    </ul> 
                </div>   
            </div>
        </div>
    </div>
</div>
<!-- Navigation -->
<div class="navigation mb-0 pb-0">
    <div class="container mb-0 pb-0">
        <nav class="navbar navbar-expand-lg mb-0 pb-0">
            <a class="navbar-brand ms-0 ps-0" href="/">
                <!-- <img class="logo" src="{% static 'images/rat-logo.png' %}"> -->
                Reservoir Assessment Tool – Mekong
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerMenu" aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa fa-bars text-white"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerMenu">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% url 'home' as homePage %} 
                    <li class="nav-item {% if request.path == homePage %}active{% endif %}">
                        <a class="nav-link" href="{{ homePage }}">Home</a>
                    </li>
                    {% url 'about' as aboutPage %}
                    <li class="nav-item {% if request.path == aboutPage %}active{% endif %}">
                        <a class="nav-link" href="{{ aboutPage }}">About RAT-Mekong</a>
                    </li>
                    {% url 'map' as mapPage %}
                    <li class="nav-item {% if request.path == mapPage %}active{% endif %}">
                        <a class="nav-link" href="{{  mapPage }}">Map Viewer</a>
                    </li>
                    {% url 'user-guide' as userGuidePage %}
                    <li class="nav-item {% if request.path == userGuidePage %}active{% endif %}">
                        <a class="nav-link" href="http://depts.washington.edu/saswe/rat_beta/RAT_UserManual_V1.01.pdf" target="_blank">User Guide</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>