{% load static %}
<!-- Our partners -->
<div class="container">
    <h3 class="text-center fw-bold fs-2 mt-5 mb-0">Our Partners</h3>
    <p class="text-center fw-bold fs-2 mb-5 mt-0">___</p>
    <div class="row partner">
        <div class="col-md-2">
            <a href="https://sig-gis.com/" target="_blank"><img class="img-fluid partner-sig" src="{% static 'images/sig.png' %}" alt="Spatial Informatics Group"></a>
        </div>
        <div class="col-md-2 text-center">
            <a href="https://www.sei.org/" target="_blank"><img class="img-fluid partner-sei" src="{% static 'images/sei.png' %}" alt="Stockholm Environment Institute"></a>
        </div>
        <div class="col-md-2">
            <a href="https://www.deltares.nl/en/" target="_blank"><img class="img-fluid partner-deltares" src="{% static 'images/deltares.jpg' %}" alt="deltares"></a>
        </div>
        <div class="col-md-2">
            <a href="https://www.washington.edu/" target="_blank"><img class="img-fluid partner-uw" src="{% static 'images/uw.png' %}" alt="University of Washington"></a>
        </div>
        <div class="col-md-2">
            <a href="https://www.uh.edu/" target="_blank"><img class="img-fluid partner-uh" src="{% static 'images/uh.png' %}" alt="University of Houston"></a>
        </div>
        <div class="col-md-2">
            <a href="https://www.mrcmekong.org/" target="_blank"><img class="img-fluid partner-mrc" src="{% static 'images/mrc-logo.svg' %}" alt="Mekong River Commission"></a>
        </div>
    </div>
</div>